/* DOCUMENTO CSS DEL INDEX.PHP */
*{
	font-family:Georgia, "Times New Roman", Times, serif;
	background-color:lightblue;}
h1 {
    margin-top: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

form {
    margin: 200px auto;
    width: 400px;
    padding: 1em;
    border: 2px solid black;
    border-radius: 1em;
	background-color:white;
}

div+div {
    margin-top: 1em;
}

label span {
    display: inline-block;
    width: 120px;
    text-align: right;
}

input, textarea {
    font: 1em sans-serif;
    width: 250px;
    box-sizing: border-box;
    border: 1px solid #999;
	background-color: white;
}

input:focus, textarea:focus {
    border-color: #16A1F1;
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

fieldset {
    width: 250px;
    box-sizing: border-box;
    margin-left: 45px;
    border: 1px solid #999;
}

button {
    margin: 20px 0 0 124px;
}

label {
  position: relative;
}

label em {
  position: absolute;
  right: 5px;
  top: 20px;
}