/* DOCUMENTO CSS DE INICIO.PHP */
body {
  font-family: 'Century Gothic', sans-serif;
}

h2{
	padding:80px;
	text-align:center;
}

/* SECCIONES */
.alarma, .calendario, .chat, .pastillas{
	width:25%;
	float:left;
	padding-left:50px;
}
.alarma-nav, .calendario-nav, .chat-nav, .pastillas-nav{
	text-align: center;
	width:250px;
	height:250px;
	border-radius:20px;
	float:left;
}

/* SECCION DE ALARMA */
.alarma-nav{
	background:#EAC8E9;
}

/* SECCION DE CALENDARIO */
.calendario-nav{
	background:#A3EDA0;
}
	
/* SECCION DE CHAT */
.chat-nav{
	background:#EDC7A0;
}

/* SECCION DE DATOS PERSONALES */
.datos{
	width: 100%;
	float:left;
	margin-top:50px;
	padding-left:470px;
}
.datos-nav{
	background:#DBD8D8;
	text-align: center;
	width:500px;
	height:100px;
	border-radius:20px;
}

/* SECCION DE PASTILLAS */
.pastillas-nav{
	background: #A0C2ED;
}

/* COLOR CUANDO PASAS EL RATON POR NCIMA O LES DAS CLICK*/
a:hover{
	color:#FF3;
}
/* PARA MOVIL */
@media screen and (min-width: 321px) and (max-width: 768px) { 
	/* SECCIONES */
	.calendario, .chat, .pastillas{
		width:25%;
		float:left;
		padding-left:50px;
	}
	.alarma-nav, .calendario-nav, .chat-nav, .pastillas-nav{
		text-align: center;
		width:120px;
		height:120px;
		border-radius:20px;
		float:left;
	}
	
	/* SECCION DE ALARMA */
	.alarma{
		width:50%;
		float:left;
		padding-left:50px;
	}
	.alarma-nav{
		background:#EAC8E9;
		width:250px;
		height:200px;
		border-radius:20px;
		float:left;
		margin-bottom:20px;
	}
	
	/* SECCION DE CALENDARIO */
	.calendario{
		width:50%;
		float:right;
		padding-right:50px;
	}
	.calendario-nav{
		background:#A3EDA0;
		width:250px;
		height:200px;
		border-radius:20px;
		float:left;
	}
		
	/* SECCION DE CHAT */
	.chat{
		width:50%;
		float:left;
		padding-right:30px;
	}
	
	.chat-nav{
		background:#EDC7A0;
		width:250px;
		height:200px;
		border-radius:20px;
		float:right;
	}
	
	/* SECCION DE DATOS PERSONALES */
	.datos{
		width: 100%;
		float:left;
		margin-top:50px;
		padding-left:100px;
	}
	.datos-nav{
		background:#DBD8D8;
		text-align: center;
		width:500px;
		height:100px;
		border-radius:20px;
	}
	
	/* SECCION DE PASTILLAS */
	.pastillas{
		width:50%;
		float:left;
		padding-right:30px;
	}
	.pastillas-nav{
		background: #A0C2ED;
		width:250px;
		height:200px;
		border-radius:20px;
		float:right;
		margin-bottom:20px;
	}
}



