/* DOCUMENTO CSS PARA EL MENU DE LAS PAGINAS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
body {
    font-family: 'Century Gothic', sans-serif;
}
  
ul li {
    width: 100%;
    padding: 15px;
    text-align: left;
}
  
.hide{
    padding:16px;
    font-size:22px;
    background:#112d4e;
    color:white;
    cursor:pointer;
    display:block;
}
nav ul {
    display: none;
    background:#164884;
    overflow:hidden;
}
  
ul li:hover{
    background:#112d4e;
}
  
ul li a{
    color:white;
    text-decoration:none;
}

.fa fa-user-circle{
    text-align:center;
}